form {
    margin: 1rem;
  }

  .form-container {
    margin: 5rem auto;
    min-width: 20rem;
    width: 30rem;
    border-radius: .5rem;
    padding: 1rem;
    border: 1px solid black;
    z-index: 1;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .has-error .error-input {
      color: red;
      font-size: .8rem;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
  }