@charset "UTF-8";

.form-container {
	margin: 5rem auto;
	width: 100%;
	max-width: 30rem;
	border-radius: 0.5rem;
	padding: 1rem;
	border: 1px solid black;
	z-index: 1;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#captcha-button {
	padding: 1rem;
	border-radius: 0.5rem;
	background-color: #5a6268;
	color: white;
}

.has-error .error-input {
	color: red;
	font-size: 0.8rem;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
	background-color: #e9ecef;
}

img#captcha-image,
img.extra-img {
	margin-bottom: 1rem;
}

.record-container {
	padding: 1rem;
}

.img-container img.extra-img {
	max-width: 100%;
	height: auto;
}

.img-container {
	width: 5rem;
	height: auto;
	min-width: 3rem;
}

.assessment {
	margin-bottom: 2rem;
	padding: 1rem;
	background-color: #d6d7d8;
	z-index: 1;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

input.pad {
	padding-left: 1rem;
}

.stdid, .grpid {
	text-decoration: underline;
	color: blue;
	font-size: 1.5rem;
	font-family: 'Times New Roman', Times, serif;
}

.stdid:hover, .grpid:hover {
	cursor: pointer;
}

#container-table {
	text-align: center;
}

tr {
	font-size: 1.5rem;
	background-color: #c8cbcf;
	color: black;
}

tbody tr:hover {
	background-color: white;
	color: #007bff;
} 	

.dropbtn {
            color: white;
            border: none;
            cursor: pointer;
        }

        /* The container <input> - needed to position the dropdown content */
        .dropdown {
            position: relative;
            display: inline-block;
        }

        /* Dropdown Content (Hidden by Default) */
        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 140px;
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            z-index: 1;
        }

        /* Links inside the dropdown */
        .dropdown-content span {
            color: black;
            cursor: pointer;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }

        /* Change color of dropdown links on hover */
        .dropdown-content span:hover {
            background-color: #111111;
            color: white;
        }

        /* Show the dropdown menu on hover */
        .dropdown:hover .dropdown-content {
            display: block;
        }